.form_input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  span {
    color: #696868;
    font-size: 1.2rem;
  }

  input {
    padding: 1.2rem 2rem;
    border-radius: 0.8rem;
    border: 1px solid #696868;
    width: 100%;
    font-family: inherit;
    font-size: 1.6rem;

    &:focus {
      outline: none;
    }
  }
}
